<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>

    <application
        android:name=".di.BlackjackApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Blackjack"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".features_profile.presentation.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".features_setting_menu.presentation.SettingMenuActivity"
            android:exported="false" />
        <activity
            android:name=".features_online_game.presentation.OnlineGameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".features_detail.presentation.DetailOnlineUserActivity"
            android:exported="false" />
        <activity
            android:name=".features_online_main_screen.presentation.OnlineMainScreenActivity"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".features_offline_main_screen.presentation.MainScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features_offline_game.presentation.GameActivity"
            android:exported="false" />
        <activity
            android:name=".GoogleSignInActivity"
            android:exported="false" />
        <activity
            android:name=".FacebookSignInActivity"
            android:exported="false" />

        <service android:name=".features_offline_game.domain.service.TimeService" />
    </application>

</manifest>